<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Proyecto_Lab.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Proyecto_Lab.My.MySettings>
            <setting name="Usuario" serializeAs="String">
                <value />
            </setting>
            <setting name="Contraseña" serializeAs="String">
                <value />
            </setting>
            <setting name="Clave" serializeAs="String">
                <value />
            </setting>
            <setting name="Email" serializeAs="String">
                <value />
            </setting>
        </Proyecto_Lab.My.MySettings>
    </userSettings>
</configuration>